:root {
  --first-color: #fff;
  --second-color: #212121;
  --third-color: #2f303a;
  --body-color: #757575;
  --primaty-team-color: #f5f4fa;
  --primary-logo-blue: #2196f3;
  --primary-logo-white: #fff;
  --primary-logo-dark: #000;
  --primary-button-color: #2196f3;
  --primary-current-color: #2196f3;
  --primary-hover-button: #188ce8;
  --primary-footer-contacts: #rgba(255, 255, 255, 0.6);
  --primary-portfolio-color: #fff;
  --primari-portfolio-button: #f5f4fa;
  --primary-border-color: #ececec;
  --primaty-border-color: #eee;
  --primary-icon-color: #afb1b8;
}
