.modal {
  position: absolute;
  // width: 528px;
  // min-height: 581px;
  width: 95vw;
  min-height: 60vw;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(1, -0.84, 0.23, -0.94);

  padding: 40px;

  .backdrop.is-hidden & {
    transform: rotate(200deg);
    transition: transform 500ms cubic-bezier(1, -0.84, 0.23, -0.94);
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close-icon {
  fill: currentColor;
  cursor: pointer;
}
