.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 500ms cubic-bezier(1, -0.84, 0.23, -0.94);

  &:hover,
  &:focus {
    color: var(--primary-button-color);
  }
}
